h1 {
    color:black;
  }
        
        .item {
          flex: 0 22%;
          height: 150px;
          margin-bottom: 2%; 
          background-color:blue ;
    } 
    body {
      background-color: whitesmoke;
    }
    .container {
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: space-between;
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSNx18uJSJdwq_y_kZ7SZ5xCllEMxanpCF1zA&usqp=CAU" width="20" height="40" alt="Computer Hope">
  
      display: flex;
          flex-wrap: wrap-reverse;
          justify-content: space-between;
        }
